<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <link rel="stylesheet" href="~/Content/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Oswald:wght@300;400;700&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

    <meta name="theme-color" content="#fafafa">
    <title>GDLWEBCAMP</title>

    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/all.css">
    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/lightbox.css">
</head>
<body>
    <header class="site-header">
        <div class="hero">
            <div class="contenido-header">
                <nav class="redes-sociales">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </nav>
                <div class="informacion-evento">

                    <div class="clearfix">
                        <p class="fecha"><i class="fas fa-calendar-alt"></i> 10-12 Dic</p>
                        <p class="ciudad"><i class="fas fa-map-marker-alt"></i> Lima, PE</p>
                    </div>


                    <!--.Informacion-evento-->
                    <h1 class="nombre-sitio">GdlWebCamp</h1>
                    <p class="slogan"><span>La mejor conferencia de diseño Web</span> </p>
                </div>
            </div>
        </div>
        <!--.hero-->
    </header>

    <div class="barra">

        <div class="contenedor clearfix">


            <div class="logo">
                <img src="~/img/logo.svg" alt="logo">
            </div>
            <div class="menu-movil">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="navegacion-principal">
                @Html.ActionLink("Conferencias", "Conferencias", "Home")
                @Html.ActionLink("Calendario", "Calendario", "Home")
                <a href="">Invitados</a>
                @Html.ActionLink("Reservaciones", "Reservaciones", "Home");
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </nav>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="site-footer">

            <div class="contenedor clearfix">
                <div class="footer-informacion">
                    <h3>Sobre <span>gdlwebcamp</span></h3>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores nisi consequatur corporis, inventore dolores suscipit illum cum dicta iure vero officiis voluptatibus dolor harum, voluptatem officia quo veniam laborum. Ea!
                    </p>
                </div>
                <div class="ultimos-tweets">
                    <h3>Ultimos <span>Tweets</span></h3>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt repellendus aliquid fuga natus accusantium autem provident.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt repellendus aliquid fuga natus accusantium autem provident.</li>
                    </ul>
                </div>
                <div class="menu">
                    <h3>Redes <span>Sociales</span></h3>

                    <nav class="redes-sociales">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </nav>
                </div>
            </div>
            <p class="copyright">Todos los derechos Reservados GDLWEBCAMP 2020 &copy;</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!--Libreria de jquery-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="~/Content/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="~/Content/js/jquery.lettering.js"></script>
    <script src="~/Content/js/lightbox.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/jquery.animateNumber.min.js"></script>


    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <script src="https://kit.fontawesome.com/7c0f87aa19.js" crossorigin="anonymous"></script>
    <script src="~/Content/js/main.js"></script>


    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('set', 'transport', 'beacon');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>
</html>
